html {
    height: 100%;
}
body {
    background-size: 100% 100%;
    margin: 0;
}
#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#toolbar {
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1000;
}

.titlebar {
  width: 100%;
  height: 45px;
  top: 0;
  text-align: center;
  background-color:	#0339A6;
  color:white;
  padding-top: 5px;
  font-size:20px;
  font-weight:bold;
  position:absolute;
  z-index: 1000;
}

#subtitle{
  position:absolute;
  z-index: 1000;
  text-align:center;
  right:50px;
  font-size:10px;
  color: white;
  padding-top: 20px;
  font-size:13px;
}

p{
  text-align:justify;
  text-justify:distribute-all-lines;
}
